.DayRecord {
  background-color: #fff;
  color: #999;
  font-size: 13px;
  box-shadow: 0px 2px 3px #999;
  border-radius: 2px;
  margin-bottom: 10px;
  .Info {
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    .Total {
      span {
        padding-left: 15px;
      }
    }
  }
  .Item {
    display: flex;
    align-items: center;
    padding: 7px 10px;
    color: #000;
    border-bottom: 0.5px solid #f9f9f9;
    transition: 0.1s all;
    background-color: #fff;
    .Amount {
      margin-left: auto;
      color: #999;
      padding: 0 5px;
    }
    .Title {
      font-size: 16px;
      padding: 0 10px;
    }
    &:active {
      filter: brightness(0.9);
    }
  }
}
