.DayRecord {
  background-color: #fff;
  color: #999;
  font-size: 13px;
  box-shadow: 0px 2px 3px #999;
  border-radius: 2px;
  margin-bottom: 10px;
  .Info {
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    .Total {
      span {
        padding-left: 15px;
      }
    }
  }
}
