.Detail {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-color: #f9f9f9;
  img {
    height: 30px;
  }
  .Info {
    position: relative;
    margin-top: 15px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 3px #999;
    border-radius: 3px;
    header {
      display: flex;
      align-items: center;
      [data-img] {
        margin: 0px 70px 0px 10px;
      }
    }
  }
  .Title {
    font-size: 14px;
    color: #999;
    padding-right: 70px;
  }
}
