.Balance {
  .Benefit {
    color: rgba(0, 150, 0, 0.8);
  }
  .Cost {
    color: rgba(200, 0, 0, 0.8);
  }
  background-color: #fff;
  box-shadow: 0px 2px 3px #999;
  border-radius: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  .Block {
    display: flex;
    flex-direction: column;
    text-align: center;
    .Title {
      font-size: 14px;
    }
    .Number {
      font-size: 20px;
      font-weight: bold;
    }
  }
  hr {
    height: 20px;

    margin: 0;
  }
}
